.venv/
.vscode/
__pycache__/
*.py[cod]
*.pyo
*.pyd

build/
dist/
*.spec.bak

*.log
build_*.log
freeze.log
packaging.log
rebuild.log

.pytest_cache/
.mypy_cache/

src/CESTGui.egg-info/

*.exe
*.zip
*.7z

.DS_Store
Thumbs.db